.ocd .table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent;
}
.ocd .jumbotron {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  background-color: #eee;
  color: inherit;
  padding: 20px;
}
.ocd .jumbotron h1 {
  margin-top: 0;
  font-size: 24px;
  line-height: 1;
}
.ocd .jumbotron p {
  font-size: inherited;
  font-weight: 200;
  font-style: italic;
}
.ocd .jumbotron p a {
  color: #428bca;
}
.ocd .content-page {
  padding: 0 20px;
  height: 300px;
  border-bottom: 1px solid #ddd;
}
.ocd h3, .ocd .h3 {
  font-size: 24px;
}
.ocd h1, .ocd .h1, .ocd h2, .ocd .h2, .ocd h3, .ocd .h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}
.ocd h1, .ocd h2, .ocd h3, .ocd h4, .ocd h5, .ocd h6, .ocd .h1, .ocd .h2, .ocd .h3, .ocd .h4, .ocd .h5, .ocd .h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.ocd .muted {
  font-size: 12px;
  margin-left: 1em;
}
.ocd .pull-right {
  float: right;
}
.ocd #controls {
  position: static;
  height: 46px;
  background-color: rgba(250, 250, 250, 0.95);
}
.ocd .actions {
  display: inline-block;
  padding: 5px;
}
.ocd .actions > div.button {
  margin: 0;
}
.ocd .actions > div#loadtext {
  font-style: italic;
  padding: 5px;
  display: inline;
}
.ocd .actions > div.button .icon-caret-dark {
  display: inline-block;
  height: 12px;
  margin: 3px 0 0 10px;
  padding: 0;
  vertical-align: middle;
  width: 12px;
  float: right;
}
.ocd .actions > div.button > ul {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px;
  box-shadow: 0 2px 7px rgba(170, 170, 170, 0.4);
  display: none;
  margin-left: -11px;
  margin-top: 6px;
  min-width: 112px;
  position: fixed;
  text-align: left;
}
.ocd .actions > div#new > ul {
  z-index: 11;
}
.ocd .actions > div#torrentlist > ul {
  margin-left: 0;
  width: 800px;
  z-index: 10;
  padding-bottom: 0px;  
}
.ocd .actions > div#torrentlist > ul > li {
  background: transparent url('../img/torrent.png') no-repeat scroll 10px 8px;
  cursor: pointer;
  height: 30px;
  margin: 0 5px 5px 15px;
  padding: 5px;
}
.ocd .actions > div#torrentlist > ul > li > p {
  cursor: pointer;
  padding-bottom: 0;
  padding-left: 35px;
  padding-top: 0;
}
.ocd .actions > div#torrentlist > ul > li > p.loader > span {
  padding: 10px;
}
.ocd .actions > div#torrentlist > ul > li > p > a {
  color: #003366;
  text-decoration: underline;
}
.ocd .actions > div.button > ul > li {
  cursor: pointer;
  height: 20px;
  margin: 5px 5px 15px 15px;
  padding-bottom: 2px;
}
.ocd .actions > div.button > ul > li > p {
  cursor: pointer;
  padding-bottom: 7px;
  padding-top: 5px;
}
.ocd .righttitle {
  color: #ddd;
  float: right !important;
  font-size: 2em;
  font-style: italic;
  margin-right: 0.5em;
  padding: 11px 10px 10px;
}
.ocd .content-page .jumbotron {
  padding: 10px;
  text-align: left;
}
.ocd .content-page .jumbotron > h5 {
  font-size: 15pt;
  margin-bottom: .7em;
}
.ocd .content-page .jumbotron .group-option {
  margin-bottom: .7em;
}
.ocd .content-page .jumbotron .group-option > label {
  margin-right: .7em;
}
.ocd .content-page .jumbotron .group-option > select {
  font-weight: normal;
  padding: 0;
  height: 20px;
}
.ocd .content-page > h3 {
  margin-bottom: 0;
  margin-top: 15px;
  padding-top: 5px;
}
.ocd .content-page > h3 > span.add-msg {
  font-style: italic;
}
.ocd .content-page > h3 > span.alert {
  color: #B40404;
}
.ocd span.highalert {
  background-color: #B40404;
  color: #FFFFFF;
  padding: 5px;
}
.ocd .content-page > h3 > span.success {
  color: #298A08;
}
.ocd .content-page > h3 > span.info {
  color: #084B8A;
}
.ocd .content-page .launch {
  float: right !important;
  box-sizing: border-box;
  height: 36px;
  padding: 10px;
  margin-top: -5px;
}
.ocd .content-page > input {
  width: 100%;
}
.ocd .content-page > div.actions {
  display: block;
  float: none;
  margin: 10px 0 5px;
  padding: 0;
}
.ocd .content-queue > table {
  width: 100%;
}
.ocd .content-queue > table > thead > tr {
  height: 30px;
  background-color: #eee;
}
.ocd .content-queue > table > thead > tr > th {
  font-style: italic;
  font-weight: bold;
  padding: 2px 0 2px 5px;
  border-bottom: 1px solid #ddd;
}
.ocd .content-queue > table > thead > tr > th.border {
  border-left: 1px solid #ddd;
}
.ocd .content-queue > table > tbody > tr > td {
  border-bottom: 1px solid #eee;
}
.ocd .content-queue > table > tbody > tr > td.border {
  border-left: 1px solid #eee;
}
.ocd .content-queue > table > tbody > tr > td.padding {
  padding: 2px 0 2px 5px;
}
.ocd .content-queue > table > tbody > tr > td .pb-wrap{
  position: relative;
}
.ocd .content-queue > table > tbody > tr > td .pb-wrap,
.ocd .content-queue > table > tbody > tr > td .pb-value,
.ocd .content-queue > table > tbody > tr > td .pb-text {
  width: 100%;
  height: 25px;
}
.ocd .content-queue > table > tbody > tr > td .pb-value {
    background: rgba(8, 75, 138, 0.3) top left no-repeat;
}
.ocd .content-queue > table > tbody > tr > td .pb-text {
  position: absolute;
  top:0; 
  left:0;
  padding: 2px 0 2px 5px;
  width: 100%;
}
.ocd .content-queue > table > thead > tr > th > div.svg,
.ocd .content-queue > table > tbody > tr > td > div.svg {
  width: 2em;
  cursor: pointer;
  float: right;
}
.ocd .content-queue > table > tbody > tr > td > a {
  color: #084b8a;
  text-decoration: underline;
}